.root{
    -fx-background-color: black;
}

#tableView .column-header{
    -fx-background-color: #373d3d;
    -fx-text-fill: rgb(207,234,254);
}
.table-view .column-header,
.table-view .column-header-background,
.table-view {
    -fx-background-color: TRANSPARENT;
}
.table-view .column-header .label {
    -fx-highlight-text-fill: #373d3d;
    -fx-text-fill: white;
    -fx-padding: 1 0 1 0;
    -fx-text-alignment: center;
}

.table-column {
    -fx-alignment: center;
    -fx-background-color: darkgray;
}

.table-row-cell {
    -fx-table-cell-border-color: darkgray;
}


