.cancel-column.table-cell{
    -fx-text-fill: red;
}
.accepted-column.table-cell{
    -fx-text-fill: rgb(116,219,127);
}
.waiting-column.table-cell{
    -fx-text-fill: rgb(223,178,23);
}
.normal-column.table-cell{
    -fx-text-fill: rgb(165,255,255);
}
